{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Created At</th>
      <th scope="col">Completed</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>

{% if tasks %}
	{% for task in tasks %}
		<tr>
			<td>{{ task.task }}</td>
			<td>{{ task.description }}</td>
			<td>{{ task.created_at }}</td>
            <td>{{ task.completed }}</td>
			<td><a href="{% url 'get_task' task.id %}">{{ task.id }}</a></td>
		</tr>
	{% endfor %}

{% endif %}


	  </tbody>
	</table>


{% else %}

<div class = "col-md-6 offset-md-3">

<h1>Login</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
            <br />
  <button type="submit" class="btn btn-secondary">Login</button>

    </form>

</div>

{% endif %}
{% endblock %}